[Unit]
Description=Apache web server service on port %i

# Requirements
Requires=etcd.service
Requires=docker.service

# Dependency ordering
After=etcd.service
After=docker.service

[Service]
TimeoutStartSec=0
KillMode=none
EnvironmentFile=/etc/environment
ExecStartPre=-/usr/bin/docker kill apache.%i
ExecStartPre=-/usr/bin/docker rm apache.%i
ExecStartPre=/usr/bin/docker pull quay.io/gambol99/apache-php:latest
ExecStart=/usr/bin/docker run -P \
--name apache.%i \
-e ENVIRONMENT=prod \
-e SERVICE_80_NAME=apache_http \
-e SERVICE_443_NAME=apache_https \
-e NAME=frontend \
quay.io/gambol99/apache-php:latest \
/usr/sbin/apache2ctl -D FOREGROUND

ExecStop=/usr/bin/docker stop apache.%i

[X-Fleet]
# Don't schedule on the same machine as other Apache instances
#X-Conflicts=apache@*.service
